%h1 
  = t('.title')
= simple_form_for @user, url: users_path do |f|
  = f.input :email, placeholder: 'user@domain.com'
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, t('.create_user')
