%h1 Sign Up
= simple_form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  = f.input :email, placeholder: 'user@domain.com'
  = f.input :password, hint: 'No special characters.'
  = f.input :password_confirmation
  = f.button :submit
