= simple_form_for(@story, :html => {:class => 'form-horisontal'}) do |f|
  - if @story.errors.any?
    #error_explanation
      %h2
        = pluralize(@story.errors.count, "error")
        prohibited this story from being saved:
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name
  = f.input :text
  = f.association :reciver, :label_method => lambda { |user| "#{user.email}" }
  = f.input :state do
    = f.select :state, Story.state_machine.states.map {|state| state.human_name}
  = f.button :submit
