<%= simple_form_for(@story, :html => {:class => 'form-horisontal'}) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :text %>

  <%= f.input :reciver do %>
    <%= f.select :reciver_id, User.all.map {|user| [user.email, user.id]} %>
  <% end %>

  <%= f.input :state do %>
    <%= f.select :state, Story.state_machine.states.map {|state| state.human_name} %>
  <% end %>
  </br>

  <%= f.button :submit %>

<% end %>
