<tr id=<%= story.id %>>
  <td><%= story.name %></td>
  <td><%= story.text %></td>
  <td><%= story.reciver_id %></td>
  <td><%= story.sender_id %></td>
  <td><%= story.state_name %></td>
  <td>
    <% story.state_events.each do |event|  %>
      <%= link_to(Story.human_state_event_name(event), update_state_story_path(story, :event => event), :method => :put, :remote => true, :class => "btn")  %>
    <% end %>
  </td>
  <td><%= link_to 'Show', story %></td>
  <td><%= link_to 'Edit', edit_story_path(story) %></td>
  <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
