%pre{:style => "font-family:monospace;"}
%table#list_stories
  %tr
    %th Name
    %th Text
    %th Reciver ID
    %th Sender ID
    %th State
    %th
  = simple_form_for(:search, :url => stories_path, :method => 'get', :html => { :class => 'form-horizontal' }) do |f|
    .row
      %span.span3
        = f.input :reciver_id, :label => 'Reciver',:collection => User.all.map { |user| [user.email, user.id] }, :include_blank => true, :selected => @selected_reciver_id, :required => false
      %span.span3
        = f.input :state, :label => 'State', :collection => Story.state_machine.states.map {|state| [state.human_name, state.name]}, |
          include_blank: true,                                                                                                       |
          :selected => @selected_state , :required => false                                                                          |
      %span.span2
        = f.label "Action", :required => false
        = f.button :submit, 'Filter'
      %span.span4
  - @stories.each do |story|
    = render story
%br/
= link_to 'New Story', new_story_path,  :class => "btn"
