<table id="list_stories">
  <tr>
    <th>Name</th>
    <th>Text</th>
    <th>Reciver ID</th>
    <th>Sender ID</th>
    <th>State</th>
    <th></th>
  </tr>

  <div class='well'>
    <%= simple_form_for(:search, :html => {:class => 'form-horizontal' }, :url => stories_path, :method => 'get') do |f| %>
         <%= f.label 'Reciver' %>
         <%= f.select :reciver_id, User.all.map { |user| [user.email, user.id] }, include_blank: true, :selected => @selected_reciver_id %>
         <%= f.label 'State' %>
         <%= f.select :state, Story.state_machine.states.map {|state| [state.human_name, state.name]},
           include_blank: true,
           :selected => @selected_state %>

         <%= f.button :submit, 'Filter' %>
    <% end %>
  </div>

  <% @stories.each do |story|  %>
    <%= render story  %>
  <% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path,  :class => "btn"%>
