<table id="list_stories">
  <tr>
    <th>Name</th>
    <th>Text</th>
    <th>Reciver ID</th>
    <th>Sender ID</th>
    <th>State</th>
    <th></th>
  </tr>

  <%= simple_form_for :search, :url => stories_path, :method => 'get',  defaults: { input_html: { class: 'navbar-form pull-left' } } do |f| %>
    <%= f.label 'Reciver' %>
    <%= f.select :reciver_id, User.all.map { |user| [user.email, user.id, { class: user.id }] }, include_blank: true, :selected => @selected_reciver_id %>
    <%= f.button :submit, 'Search' %>
  <% end %>

  <% @stories.each do |story|  %>
    <%= render story  %>
  <% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path,  :class => "btn"%>
