%p
  %b Name:
  = @story.name
%p
  %b Text:
  = @story.text
%p
  %b Reciver:
  = @story.reciver_id
%p
  %b Sender:
  = @story.sender_id
%p
  %b State:
  = @story.state_name
%h3 Comments
#list_comments
  - @story.comments.each do |comment|
    - if comment.persisted?
      = render comment
#comment_form
  = render 'comments/form', story: @story, comment: @comment
= link_to 'Edit', edit_story_path(@story)
|
\#{link_to 'Back', stories_path}
