<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @story.name %>
</p>

<p>
  <b>Text:</b>
  <%= @story.text %>
</p>

<p>
  <b>Reciver:</b>
  <%= @story.reciver_id %>
</p>

<p>
  <b>Sender:</b>
  <%= @story.sender_id %>
</p>
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
