= simple_form_for @type, url: session_path(from: params[:from]), html: { class: 'form-type-login' } do |f|
  .row
    .span6
      = f.input :email
      = f.input :password

      .pull-left
        = f.button :submit, t('.sign_in'), :class => 'btn btn-shine', :tabindex => 3
        = t('.no_account')
        = link_to t('.sign_up'), new_user_path
