%tr.story{id: story.id}
  %td= story.name
  %td= story.text
  %td= story.reciver_id
  %td= story.sender_id
  %td= story.human_state_name
  %td
    - story.state_events.each do |event|
      = link_to(Story.human_state_event_name(event), update_state_story_path(story, :event => event), :method => :put, :remote => true, :class => "btn")
  %td= link_to t('.edit'), edit_story_path(story)
  %td= link_to t('.show'), story_path(story)
  %td= link_to t('.destroy'), story, method: :delete, data: { confirm: t('.are_you_sure') }
