%table#list_stories
  %tr
    %th 
      = Story.human_attribute_name(:name)
    %th 
      = Story.human_attribute_name(:text)
    %th 
      = Story.human_attribute_name(:reciver)
    %th 
      = Story.human_attribute_name(:sender)
    %th 
      = Story.human_attribute_name(:state)

  = search_form_for @search do |f|
    .row
      .span3
        = f.label :state
        = f.select :state_eq, Story.state_machine.states.map {|state| [state.human_name, state.name] }, :include_blank => true
      .span3
        = f.label :email
        = f.select :reciver_email_eq, User.scoped.map { |user| user.email }, :include_blank => true
      .span2
        %br
        = f.submit

  - @stories.each do |story|
    = render story
%br/
= link_to t('.add_story'), new_story_path,  :class => "btn"
